body {
  position: relative;
  width: 1366px;
  height: 714px;

  background: #f1f2f2;
  border: 1px solid #b5b5b5;
  box-sizing: border-box;
}

.div_greenHeader {
  position: absolute;
  width: 1365.2px;
  height: 10px;
  left: 0px;
  top: 0px;
  background: linear-gradient(269.99deg, #50b848 0%, #009677 100%);
}
.e1_346 {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15000000596046448);
  background-color: rgba(255, 255, 255, 1);
  width: 1364px;
  height: 55px;
  top: 10px;
}
.e1_351 {
  width: 25px;
  height: 17px;
  position: absolute;
  left: 15px;
  right: 1326px;
  top: 22px;
  cursor: pointer;
}
.e1_347 {
  width: 177px;
  height: 40px;
  /* background-image: url("/src/assets/images/pngkey_1.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 72px;
  right: 1117px;
  top: 13px;
  bottom: 4px;
}

.e1_365 {
  overflow: hidden;
  width: 108px;
  height: 24px;
  position: absolute;
  left: 452px;
  right: 806px;
  top: 22px;
  bottom: 13px;
  border: none;
  font-family: "Montserrat";
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #282828;
  cursor: pointer;
}
.e1_368 {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #282828;
  width: 80px;
  height: 24px;
}
.e1_369 {
  overflow: hidden;
  width: 100px;
  height: 24px;
  position: absolute;
  left: 591px;
  top: 22px;
  bottom: 13px;
  border: none;
  font-family: "Montserrat";
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #282828;
  cursor: pointer;
}

.refreshIcon{
    position: absolute;
left: 1310px;
right: 1.24%;
top: 73px;
height: 39px;
width: 39px;
cursor: pointer;
}

.e1_373 {
  overflow: hidden;
  width: 146px;
  height: 24px;
  position: absolute;
  left: 52.64%;
  right: 34.04%;
  top: 22px;
  bottom: 13px;
  border: none;
  font-family: "Montserrat";
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #282828;
  cursor: pointer;
}

.e1_355 {
  width: 20.6px;
  height: 20.6px;
  position: absolute;
  left: 1079px;
  top: 23px;
  bottom: 13px;
  color: #ffa801;
  cursor: pointer;
}
.e1_349 {
  width: 26px;
  height: 25px;
  text-align: left;
  position: absolute;
  left: 1142px;
  top: 23px;
  bottom: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #ea1a00;
  cursor: pointer;
  display: flex;
}
.e1_350 {
  width: 171px;
  height: 25px;
  position: absolute;
  left: 1184px;
  top: 22px;
  bottom: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #282828;
}

.e1_888 {
  overflow: hidden;
  width: 200px;
  height: 25px;
  position: absolute;
  left: 70px;
  right: 1.1%;
  top: 3.5%;
  bottom: 30.36%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #50b848;
}

.navLine {
  position: absolute;
  left: 1161px;
  right: 190px;
  top: 34px;
  width: 24px;
  height: 0px;
  border: 1px solid #dcddde;
  transform: rotate(90deg);
}
.dataLoadText {
  position: absolute;
  left: 1.1%;
  right: 83.09%;
  top: 17px;
  bottom: 76.35%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #009677;
}

.div_108 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 125px;
  bottom: 494px;
  width: 1364px;
  height: 95px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.lbl {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #282828;
  top: 14px;
  bottom: 66px;
}
.lbl-labelSrcSym {
  left: 1.1%;
  right: 92.53%;
}
.lbl-labelStatus {
  left: 26.13%;
  right: 71.08%;
}

.ddl {
  position: absolute;
  background: #ffffff;
  border: 1px solid #dcddde;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  top: 35px;
  bottom: 24px;
}
.ddlOptions {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #282828;
}
.ddl-ddlSrcSym {
  left: 1.1%;
  right: 76.06%;
  width: 312px;
  height: 36px;
}
.ddl-status {
  left: 26.13%;
  right: 51.02%;
  width: 312px;
  height: 36px;
}
.ddlOptions-ddlSrcSymOptions {
  left: 2.2%;
  right: 96.49%;
  top: 10px;
  bottom: 9px;
  width: 18px;
  height: 13px;
}
.btnSearch {
  position: absolute;
  left: 51.17%;
  right: 42.53%;
  top: 35px;
  bottom: 24px;
  background: linear-gradient(
    360deg,
    #a7e74d -5.56%,
    rgba(36, 151, 71, 0.94) 47.22%,
    #50b848 70.83%,
    #b7f8b2 98.61%
  );
  border: 2px solid rgba(63, 159, 56, 0.55);
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 86px;
  height: 36px;
}
.btnSearchText {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 7px;
  

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  width: 54px;
  height: 18px;
  color: #ffffff;
}
 .btnUpload{
    position: absolute;
    left:15px; 
    right: 1265px;
    top: 664.31px;
    bottom: 16.22px;
    
    background: linear-gradient(360deg, #A7E74D -5.56%, rgba(36, 151, 71, 0.94) 47.22%, #50B848 70.83%, #B7F8B2 98.61%);
    border: 2px solid rgba(63, 159, 56, 0.55);
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 33.46px;
    width: 86px;
 }

 .bynUploadText{
    position: absolute;
    left: 18.6%;
    right: 18.6%;
    top: 25%;
    bottom: 25%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
 }

 .div_Table1{
    position: absolute;
    top: 247px;
    bottom: 70px;
    width: 1364px;
    height: 397px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
 } 
 /* update it later if required */
 .mat-elevation-z8{
     position: absolute;
     top: 20px;
     bottom: 20px;
     left: 15px;
     right: 16px;
     width: 1333px;
     height: 357px;
  
     
 } 
 .tableHeader{
  position: absolute;
  left: 15px;
  right: 16px;
  top: 20px;
  bottom: 337px;
  width: 1335px;
  height: 40px;
  background: linear-gradient(180deg, #969696 50%, #1E1E1E 244.99%);
 }